@import './base.css';

#app {
  font-weight: normal;

  background-image: url('./src/img/dungeon-background.jpg');
  background-size: cover;
  background-position: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  border: 1px solid red;
  padding: 20px;
  border-radius: 5px;
  line-height: 2.2;
}